@{
    ViewData["Title"] = "About";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <h2>@ViewData["Title"]</h2>
            <p>This is almost the first I felt like I'm actually able to do a few things. I will try to come back here improve this even though I'm not gonna publish it anywhere. With this, I'm aiming to scale the impacts of my education.</p>
        </div>
    </div>
</div>
<div class="mt-4">
    <a class="btn btn-primary" asp-action="Index" asp-controller="Home">Home</a>
</div>